.bar{
    padding: 0px 20px 50px 20px;
    text-decoration: none;
    font-size: large;
    vertical-align: middle;
    background-color: #f5f1df;  
}

.bar ul{
    list-style-type: none;
    font-size: large;
    margin: 0;
    padding: 0;
}

.bar ul li a{
    color: black;
    text-decoration: none;
    float: right;
    padding: 15px;
}

.bar ul li a:hover{
    color: white;
    background-color: black;
}

.text{
    padding-left: 100px;
    padding-right: 500px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
}

p{
    float: left;
    padding-right: 50px;
    text-align: justify;    
}

.name{
    color: red;
}

.avatar{
    border-radius: 50%;
    height: 40%;
    width: 30%;
}

.text .avatar{
    float: right;
    vertical-align: top;
    padding-left: 50px;
}

.text p a{
    color: blue;
    text-decoration: none;
}

.text p span{
    color: blue;
}

h1{
    text-align: center;
    color: white;
}

.about{
    background: linear-gradient(to right, rgb(37, 184, 0), blue);
    height: 30vh;
}

.about-text{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 40rem;
    padding-left: 19rem;
    color: white;
}

.skills{
    background: linear-gradient(to right, green, blue);
}

.myimg{
    width: 350px;
    height: 350px;
    padding: 15px;
}